/* Configurando o HTML, Body */
html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 75rem;
    padding-top: 4.3rem;
}


header {
    width: 100% !important;
}

/*Menu*/
.menu {
    background-color: rgb(248, 182, 24) !important;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250) !important;
    width: 100%;
}

.menu-edit{
    background-color: rgba(248, 182, 24, 0.6) !important;
    border-bottom: 0.2px solid;
    border-color:  rgb(248, 182, 24) !important;
}

.menu a {
    color: rgb(250, 250, 250) !important;
}

.menu a img {
    width: 200px;
}

.menu button {
    background-color: rgb(221, 95, 6) !important;
    color: rgb(250, 250, 250) !important;
    margin: 10px 0px !important;
    border: hidden !important;
}

/* Itens do Menu*/
.itemMenu li {
    padding: 10px 10px 10px 10px;
}

.itemMenu li a {
    color: rgb(250, 250, 250) !important;

}

.itemMenu {
    margin-right: 25px;
}

.itemMenu img {
    max-width: 25px;
    max-height: 25px;
}

/* Conteudo Main */
main{
    /* padding-top: 4.3rem; */
}
/* Fim do arquivo main */

/*O que fazemos*/
.o-que-fazemos {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: rgb(248, 182, 24) !important;
    min-height: 300px;
    color: rgb(250, 250, 250);
}

.o-que-fazemos p {
    margin: 30px 30px 30px 30px;
}

/* Botao faca sua simulacao */
.o-que-fazemos button {
    background-color: rgb(221, 95, 6) !important;
    color: rgb(250, 250, 250);
    float: right;
    margin: 60px;
    width: 210px;
    height: 50px;
    border: hidden !important;
}


/*Passo-a-passo*/
.passo-a-passo img {
	width:100%;
	height:auto;
}

/*Botao quero um projeto*/
.quero-um-projeto button{
    background-color: rgb(221, 95, 6) !important;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color:rgb(250, 250, 250);
    text-align: center;
    font-weight: bold;
    border: hidden !important;
    margin-bottom: 30px;
    padding: 20px 40px;
}


/*Dados Estatisticos*/
.dados {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: rgb(248, 182, 24) !important;
    color: rgb(250, 250, 250);
    padding: 20px;
}

/*Projetos Realizados*/
.projetos {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: orangered;
    min-height: 500px;
}

.projetos p {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250);
    margin-left: 33.3%;
    margin: 30px 30px 30px 30px;
}

/*Simulação*/
.simulacao {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250);
    background-image: url("../img/simulacao.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 600px;
}

.simulacao p {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250);
    margin: 30px 30px 30px 30px;
    padding-top: 150px;
    text-align: right;
}

.simulacao form {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250);
    margin: 20px;
}

/*Contato*/
.contato {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    background-color: rgb(248, 182, 24) !important;
    min-height: 300px;
    width: 100%;
}

.contato ul {
    margin-top: 30px;
    color: rgb(250, 250, 250);
}

.contato ul li {
    list-style-type: none;
    padding: 10px 0 10px 0;
}

.contato ul li img {
    max-height: 20px;
    max-width: 20px;
}
